@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300&display=swap');

// Main 

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(135deg, #182157, rgba(42, 80, 163, 0.801));
    color: white;
}

// Container Pop-up

.pop-up {
    width: 55vw;
    height: fit-content;
    margin: 30vh auto;
    background: rgb(0, 0, 0);

    border-radius: 26px;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.623);

    display: grid;
    grid-template-columns: 1.2fr 2fr;
    grid-template-rows: repeat(2, minmax(10vh, auto));

    img {
        position: relative;
        top: -38px;
        left: 10%;
    }

    .pop-up-content {
        width: 22vw;
        padding: 5%;

        h2 {
            width: 28vw;
            font-size: 2rem;
            font-weight: 300;
            font-family: Montserrat;

            margin: 30px 0 25px;
        }

        p {
            width: 28vw;
            font-size: 16px;
            font-family: Montserrat;
            line-height: 21px;
        }
    }

    form {
        grid-column: 1 / 3;

        display: flex;
        justify-content: center;
    }

    input {
        margin: 5px 0 35px;
        outline: none;
        font-family: Montserrat;

        &:first-of-type {
            width: 20vw;
            padding: 2vh 15% 2vh 2%;
            font-size: 1.5vw;

            border-radius: 25px 0px 0px 25px;
            border: none;
            background-color: rgb(245, 245, 245);
        }

        &:nth-child(2) {
            border-radius: 25px;
            border: none;
            background-color: rgb(37, 56, 161);
            color: rgb(255, 255, 255);

            cursor: pointer;
            padding: 2vh 20px;

            transform: translate(-20px);
            transition: 0.2s;
            z-index: 2;

            position: relative;

            &:hover {
                background-color: rgb(36, 52, 146);

                padding: 2vh 22px;
            }
        }


    }

    a {
        text-decoration: none;
        color: whitesmoke;

        position: absolute;
        top: 32%;
        left: 75%;

    }
}