@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300&display=swap');

// Main 

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(135deg, #182157, rgba(42, 80, 163, 0.801));
    background-attachment: fixed;
    color: white;
    overflow: hidden;

    display: flex;
    justify-content: center;
}

// Container Pop-up

.pop-up {
    width: 55vw;
    height: fit-content;
    margin: 20vh auto 30vh;
    background: rgb(0, 0, 0);

    border-radius: 26px;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.623);

    display: grid;
    grid-template-columns: 1.2fr 2fr;
    grid-template-rows: repeat(2, minmax(10vh, auto));

    img {
        position: relative;
        top: -35px;
        left: 14%;
    }

    .pop-up-content {
        width: 22vw;
        padding: 5%;

        h2 {
            width: 28vw;
            font-size: 2rem;
            font-weight: 300;
            font-family: Montserrat;

            margin: 30px 0 25px;
        }

        p {
            width: 28vw;
            font-size: 16px;
            font-family: Montserrat;
            line-height: 21px;
        }
    }

    form {
        grid-column: 1 / 3;

        display: flex;
        justify-content: center;
    }

    input {
        margin: auto 0;
        outline: none;
        font-family: Montserrat;

        &:first-of-type {
            width: 20vw;
            padding: 2.2vh 15% 2.2vh 3%;
            font-size: 1.2vw;

            border-radius: 25px 0px 0px 25px;
            border: none;
            background-color: rgb(245, 245, 245);
        }

        &:nth-child(2) {
            border-radius: 25px;
            border: none;
            background-color: rgb(37, 56, 161);
            color: rgb(255, 255, 255);

            cursor: pointer;
            padding: 2vh 20px;

            transform: translate(-20px);
            transition: 0.2s;
            z-index: 2;

            height: 7.26vh;

            &:hover {
                background-color: rgb(36, 52, 146);

                padding: 2vh 22px;
            }
        }


    }

    a {
        text-decoration: none;
        color: whitesmoke;

        position: relative;
        top: -14.5rem;
        left: 52.2vw;

    }
}

// Animation 

.pop-up {
    // animation: action 1.5s ease-in-out 2s backwards,
    //    rotate 2s ease-in-out 5s forwards;
    transform-origin: 52.5vw 2vw;

}

@keyframes action {
    0% {
        transform: translate(0, -450px);
    }

    20% {
        transform: translate(0, 10px);
    }

    50% {
        transform: translate(0, -5px);
    }

    60% {
        transform: translate(0, 1px);
    }

    70% {
        transform: translate(0, -3px);
    }

    80% {
        transform: translate(0, 2px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

@keyframes rotate {
    0% {
        transform: rotateZ(0px);
    }

    40% {
        transform: rotateZ(-65deg);
    }

    60% {
        transform: rotateZ(-60deg);
    }

    80% {
        transform: rotateZ(-65deg);
    }

    100% {
        transform: rotateZ(-60deg);
    }
}

// media queries 

@media screen and (min-width: 1100px) {

    .pop-up {
        a {
            top: -260px;
            left: 52.8vw;
        }
    }
}

@media screen and (max-width: 1015px) {

    .pop-up {
        a {
            top: -2.80in;
            left: 51.5vw;
        }
    }
}

@media screen and (max-width: 768px) {

    body {
        overflow: auto;
    }

    .pop-up {
        max-width: 70em;
        margin: 1vw auto;

        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: repeat(4, minmax(20vh, auto));
        place-items: center;


        img {
            width: 40vw;

            position: relative;
            top: -35px;
            left: 41%;
            transform: translate(-50%);

            grid-column: 1 / 4;
            grid-row: 2 / 3;
        }

        form {
            grid-row: 4 / 5;
            margin: 0 auto;
            grid-column: 1 / 4;

            input:first-of-type {
                width: 35vw;
                padding: 2.2vw;
                font-size: 2vw;
            }

            input:last-of-type {
                height: 8.8vh;
                padding: 2vh 20px;
            }
        }

        .pop-up-content {
            width: 45vw;
            grid-column: 1 / 4;

            h2 {
                width: 60vw;
                font-size: 5.5vw;

                grid-column: 1 / 4;
                grid-row: 1 / 2;

                position: relative;
                left: -1.5vw;
            }

            p {
                width: 50vw;
                text-align: center;
                font-size: 20px;

                position: relative;
                top: 4.6in;
                left: -5%;

                &::before {
                    content: 'Digite seu email ';
                    text-transform: capitalize;
                }
            }
        }

        a {
            display: none;
        }
    }
}

@media screen and (max-width: 700px) {
    .pop-up-content p {
        top: 60vh !important;
    }
}

@media screen and (max-width: 425px) {

    .pop-up {
        width: 75vw;

        img {
            width: 55vw;

            top: -14vh;
            left: 31vw !important;
        }
    }

    .pop-up-content {

        p {
            font-size: 16px !important;
            top: 2.9in !important;
        }
    }

    form {
        flex-wrap: wrap;
        justify-content: center !important;

        display: grid !important;
        place-items: center !important;

        input:first-of-type {
            width: 45vw !important;
            font-size: 3.5vw !important;

            border-radius: 25px !important;
        }

        input:last-of-type {
            margin: 10px 10vw 10px 20vw;
            padding: 2vh !important;
        }
    }
}